[KAFKA_CONSUMER]
bootstrap.servers = localhost:9092
group.id = poc
enable.auto.commit =  True
auto.offset.reset = earliest
topic = spots

[MONGODB]
mongodb.url = mongodb://user:pass@localhost:27017/?authMechanism=DEFAULT
mongodb.dbname = POC
mongodb.collection = option_data

[QUANT]
quant.url = ws://localhost:8000/quant
quant.tolerance= 0.06